@media (min-width:992px) {
    body{background-color: #fefae0;}
    header{
        width: 100%;
        height: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
#first,#second,#third{
    
    width: 30.33%;
    float: left;
    border: 3px solid black;
    background-color: #c28652;
    margin-top: 20px; 
    margin-right: 1%;
   	padding: 3px;
    text-align: justify;
   	position: relative;
    
}


h2{ 
    display: inline-block;
    float: right;right; top :0; right: 0; margin: 0;
    border: 1px solid black;
    position: absolute;
    text-align: center;
    width: 150px;
}

#first h2{background-color: rgb(132, 245, 245);}
#second h2{background-color: rgb(216, 58, 90);}
#third h2{background-color: rgb(178, 224, 178);}




p {
	padding: 15px 5px 0px 5px;
	font-size: 16px;
	position: relative;
}


}




@media (min-width:768px) and (max-width:991px) {
    body{background-color: #fefae0;}
    header{
        width: 100%;
        height: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
#first{
    display: inline-block; 
    width: 48%;
    float: right;
    border: 3px solid black;
    background-color: #c28652;
    margin-top: 20px; 
   	
    text-align: justify;
   	position: relative;
    
}
#second{
    display: inline-block; 
    width: 48%;
    float: left;
    border: 3px solid black;
    background-color: #c28652;
    margin-top: 20px; 
   	
    text-align: justify;
   	position: relative;
}
#third{
     display: inline-block; 
    width: 100%;
    text-align: center;
    border: 3px solid black;
    background-color: #c28652;
    margin-top: 20px; 
   	margin-right: 20px; 
    text-align: justify;
   	position: relative;
    
}


h2{ 
    display: inline-block;
    float: right;right; top :0; right: 0; margin: 0;
    border: 1px solid black;
    position: absolute;
    text-align: center;
    width: 150px;
}

#first h2{background-color: rgb(132, 245, 245);}
#second h2{background-color: rgb(216, 58, 90);}
#third h2{background-color: rgb(178, 224, 178);}




p {
	padding: 15px 5px 0px 5px;
	font-size: 16px;
	position: relative;
}



}





@media (max-width:767px) {

    body{background-color: #fefae0;}
    header{
        width: 100%;
        height: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
#first,#second,#third {
    display: inline-block; 
    width: 100%;
    float: left;
    border: 3px solid black;
    background-color: #c28652;
    margin-top: 20px; 
   	margin-right: 20px; 
    text-align: justify;
   	position: relative;
    
}


h2{ 
    display: inline-block;
    float: right;right; top :0; right: 0; margin: 0;
    border: 1px solid black;
    position: absolute;
    text-align: center;
    width: 150px;
}

#first h2{background-color: rgb(132, 245, 245);}
#second h2{background-color: rgb(216, 58, 90);}
#third h2{background-color: rgb(178, 224, 178);}




p {
	padding: 15px 5px 0px 5px;
	font-size: 16px;
	position: relative;
}
}





